* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: rgb(63, 63, 63);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row {
    width: 1140px;
    margin: 0 auto;
}

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    word-spacing: 3px;
    
}

h1 {
    color: #fff;
    font-size: 200%;
}

h2 {
    color: #3c3b3b;
    font-size: 180%;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*-----------------------------*/
/*----------HEADER-------------*/
/*-----------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.header-section {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.btn {
    display: inline-block;
    border: 1px solid #f39c12;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 30px;
    margin-right: 50px;
}

.btn.header-btn-positive:link,
.btn.header-btn-positive:visited {
    background: #f39c12;
    color: white;
    transition: background-color 0.2s;
}

.btn.header-btn-positive:hover, 
.btn.header-btn-positive:active {
    background-color: #d8890b;
}

.btn.header-btn-negtive:link,
.btn.header-btn-negtive:visited {
    color: #f39c12;
    transition: background-color 0.2s, color 0.2s;
}

.btn.header-btn-negtive:hover,
.btn.header-btn-negtive:active {
    background-color: #f39c12;
    color: #fff;
}

.header-nav {
    margin-top: 0;
}

.header-logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 10px;
}

.header-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
}

.header-nav li {
    display: inline-block;
}

.header-nav li a:link,
.header-nav li a:visited {
    color: #d0cbcb;
    text-decoration: none;
    margin-left: 70px;
    font-size: 150%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.header-nav li a:hover,
.header-nav li a:active {
    border-bottom: 2px solid #f39c12;
}

/*-----------------------------*/
/*----------FEATURE------------*/
/*-----------------------------*/
.feature-section {
    margin-top: 80px;
}

.feature-title {
    margin: 30px auto;
    text-align: center;
}

.feature-title::after {
    display: block;
    background-color: #f39c12;
    margin: 30px auto;
    width: 10%;
    height: 2px;
    content: "";
}

.feature-title-description {
    line-height: 145%;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.feature-section ion-icon {
    font-size: 350%;
    color: #f39c12;
}

.feature-section h3 {
    color: #3c3b3b;
    font-size: 110%;
}

.feature-sub-description {
    line-height: 130%;
    font-size: 90%;
    width: 80%;
    margin-top: 30px;
}

/*-----------------------------*/
/*----------GALARY-------------*/
/*-----------------------------*/

.food-galary {
    margin: 100px 0;
}

.food-galary-row {
    list-style: none;
    width: 100%;
}

.food-galary-row li {
    width: 25%;
    display: block;
    float: left;
}

.food-galary-unit {
    width: 100%;
    overflow: hidden;
    background-color: #000;
}

.food-galary-row li img {
    width: 100%;
    transform: scale(1.15);
    opacity: 0.7;
    transition: transform 0.5s, opacity 0.5s;
}

.food-galary-row li img:hover {
    transform: scale(1.01);
    opacity: 1;
}

/*-----------------------------*/
/*----------DOWNLOAD-----------*/
/*-----------------------------*/

.app-screen {
    width: 40%;
    float:right;
    margin-right: 40px;
}

.download-step {
    margin-bottom: 70px;
}

.download-step div {
    color: #f39c12;
    border: 1px solid #f39c12;
    display: inline;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    padding-top: 10px;
    float:left;
    margin-right: 30px;
}

.download-step p {
    padding-top: 10px;
}

.download-step:last-of-type {
    margin-bottom: 150px;
}

.app-store {
    height: 50px;
    margin-right: 15px;
}

/*-----------------------------*/
/*----------CITIES-------------*/
/*-----------------------------*/

.cities-section {
    background-color: #e2e2e2;
    padding-bottom: 100px;
}

.cities-section img {
    width: 100%;
    height: auto;
}

.city-feature {
    margin-bottom: 10px;
}

.cities-section ion-icon {
    color: #f39c12;
    font-size: 130%;
    margin-right: 15px;
    float: left;
    display: inline-block;
}

.cities-section a:link,
.cities-section a:visited {
    color: #f39c12;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;
    transition: color 0.2s, border 0.2s;
}

.cities-section a:hover,
.cities-section a:active {
    color: #d8890b;
    border-bottom: 1px solid #d8890b;
}

/*-----------------------------*/
/*------Customer Reviews-------*/
/*-----------------------------*/

.customer-review-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/back-customers.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50vh;
    color: #fff;
}

.customer-review-section h2 {
    color: #fff;
}

.customer-review-section blockquote {
    font-style: italic;
    width: 90%;
}

.customer-review-section blockquote:before {
    content: '\201C';
    font-size: 300%;
    display: block;
    margin-bottom: -10px;
}

.customer-review-section cite {
    display: block;
    margin-top: 30px;
}

.customer-review-section cite img {
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}